{% for post in posts %}
  <div class="column col-lg-{{ columns }}">

    {% if show_thumbnail == 'yes' %}
      <img class="post-thumbnail" src="{{ post.thumbnail }}" alt="" srcset="" />
    {% endif %}

    {% if show_title == 'yes' %}
      <a href="{{ post.link }}">
        <h3 class="post-title">
          {{ post.title }}
        </h3>
      </a>
    {% endif %}

    {% if show_date == 'yes' %}
      <p class="post-date">
        {{ post.date }}
      </p>
    {% endif %}

    {% if show_excerpt == 'yes' %}
      <p class="post-content">
        {{ post.content | raw }}
      </p>
    {% endif %}

  </div>

{% endfor %}
