<div class="row">

  {% for post in posts %}
    <div class="col-lg-{{ settings.columns }}">

      {% if settings.show_thumbnail == 'yes' %}
        <img class="post-thumbnail" src="{{ post.thumbnail }}" alt="" srcset="" />
      {% endif %}

      {% if settings.show_title == 'yes' %}
        <a href="{{ post.link }}">
          <h3 class="post-title">
            {{ post.title }}
          </h3>
        </a>
      {% endif %}

      {% if settings.show_date == 'yes' %}
        <span class="post-date">
          {{ post.date }}
        </span>
      {% endif %}

      {% if settings.show_excerpt == 'yes' %}
        <p class="post-content">
          {{ post.content | raw }}
        </p>
      {% endif %}

    </div>
  {% endfor %}
</div>
