<div class="row">
{% for post in posts %}
	<div class="col-md-{{settings.columns}}">
		<img class="post-thumbnail" src="{{post.thumbnail}}" alt="" srcset="">
		<a href="{{post.link}}"><h3 class="post-title">{{post.title}}</h3></a>
		<p class="post-content">{{post.content|raw}}</p>
	</div>
{% endfor %}
</div>